@use '~@angular/material/index' as mat;

@mixin mrx-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mrx-header {
    .toolbar {
      button.active {
        color: mat.get-color-from-palette($accent, default-contrast);
        background-color: mat.get-color-from-palette($accent);
      }
    }
  }

  mrx-footer {
    .footer {
      $footerTextColor: mat.get-color-from-palette($primary, lighter);
      $footerBgColor: mat.get-color-from-palette($primary, darker);

      color: $footerTextColor;
      background-color: $footerBgColor;

      .links,
      .signature {
        a {
          color: $footerTextColor;
          &:hover {
            color: mat.get-color-from-palette($accent);
          }
        }
      }
    }
  }
}
