.container {
  margin-top: 20px;
}

.main-heading {
  margin: 0 0 20px 0;
}

.mat-card-content {
  mat-icon {
    margin-right: 5px;
    color: green;
  }
}

.price {
  font-size: 1rem;
  padding: 10px;
}
