<div
  class="heading-container"
  *ngIf="!node.children">
  <a
    routerLink="{{node.url}}"
    routerLinkActive="selected"
    [ngClass]="classes"
    title="{{node.tooltip}}"
    class="vertical-menu-item">
    <mat-icon>{{ node | sidebarItemIcon: defaultNoUrlIcon }}</mat-icon>
    {{node.title}}
  </a>
</div>
<div
  class="heading-container"
  *ngIf="node.children">
  <button
    type="button"
    [ngClass]="classes"
    title="{{node.tooltip}}"
    (click)="headerClicked()"
    class="vertical-menu-item heading"
    [attr.aria-pressed]="isExpanded"
    >
    <mat-icon>{{ node | sidebarItemIcon: defaultNoUrlIcon }}</mat-icon>
    <span class="node-title">{{node.title}}</span>
    <mat-icon class="rotating-icon">keyboard_arrow_down</mat-icon>
  </button>
  <div
    class="heading-children"
    [ngClass]="classes">
    <mrx-nav-item
      *ngFor="let node of nodeChildren"
      [level]="level + 1"
      [isWide]="isWide"
      [isParentExpanded]="isExpanded"
      [node]="node"
      [selectedNodes]="selectedNodes"
    ></mrx-nav-item>
  </div>
</div>
