<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2>{{ 'title.long' | translate }}</h2>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-6">
        <mat-card>
          <div class="row text-center">
            <div class="col">
              <h2 class="mt-2">{{ 'authen.forgot_password' | translate }}</h2>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="col" appearance="outline">
              <mat-label>{{ 'authen.email' | translate }}</mat-label>
              <input matInput formControlName="email"/>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col  mt-1 pb-4">
              <button
                class="w-100"
                mat-raised-button
                color="primary"
                (click)="onSendClick()">
                {{ 'authen.send' | translate }}
              </button>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <a routerLink="/auth/login">{{ 'authen.login' | translate }}</a>
            </div>
            <div class="col-6">
              <a routerLink="/auth/register">{{ 'authen.register' | translate }}</a>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>
