<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2>{{ 'title.long' | translate }}</h2>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-6">
        <mat-card>
          <div class="row text-center">
            <div class="col">
              <h2 class="mt-2">{{ 'authen.reset_password' | translate }}</h2>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="col" appearance="outline">
              <mat-label>{{ 'authen.new_password' | translate }}</mat-label>
              <input
                matInput
                type="password"
                formControlName="newPassword">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" appearance="outline">
              <mat-label>{{ 'authen.repeat_new_password' | translate }}</mat-label>
              <input
                matInput
                type="password"
                formControlName="repeatNewPassword">
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col  mt-1 pb-4">
              <button
                class="w-100"
                mat-raised-button
                color="primary"
                (click)="onResetClick()">
                {{ 'authen.reset_password' | translate }}
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>
